
if SHIELD_KIMIKO_LEFT

config CONFIG_ZMK_KEYBOARD_NAME
    default "Kimiko"

config CONFIG_ZMK_SPLIT_ROLE_CENTRAL
    default y

config CONFIG_ZMK_SPLIT
    default y

endif

if SHIELD_KIMIKO_RIGHT

config CONFIG_ZMK_SPLIT_ROLE_CENTRAL
    default n

config CONFIG_ZMK_SPLIT
    default y

endif
