
if SHIELD_KIMIKO_LEFT

config ZMK_KEYBOARD_NAME
    default "Kimiko"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KIMIKO_LEFT || SHIELD_KIMIKO_RIGHT

config ZMK_SPLIT
    default y

endif
