#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS  &kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp G  &kp H  &kp I  &kp J  &kp K  &kp EQUAL  &kp CAPS  &kp A  &kp S  &kp D  &kp F  &kp G  &kp M  &kp N  &kp O  &kp P  &kp Q  &kp LBKT  &kp LSHIFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 0  &bt BT_CLR_ALL  &kp S  &kp T  &kp COMMA  &kp DOT  &kp FSLH  &kp RBKT  &kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE  &kp DEL  &kp BACKSPACE  &kp RET  &kp N5  &kp N6  &kp N7
            >;
        };
    };
};
